.card {
    display: flex;
    margin-bottom: 30px;
}

.chirp-around {
    display: inline;
    position: relative;
    top: 5px;
}

.tweetProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.tweetInput {
    border: none;
    width: 80%;
}

.tweetInput:focus {
    outline: none;
}

.tweetBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweetIcon {
    font-size: 18px;
    margin-right: 3px;
}

.tweetOptionText {
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
}

.tweetButton {
    font-weight: 500;
    float: right;
}